---
import ExtraLayout from "@/layouts/ExtraLayout.astro";
import GridItem from "@/components/bento/Item.astro";
import type { Article } from "@/types/article.type";
import { Image } from "astro:assets";
import { formatDate } from "@/helper/formatDate";
import { ChevronLeftIcon } from "astro-feather";
import Grid from "@/components/bento/Grid.astro";
import Header from "@/components/util/Header.astro";

const data = await fetch(`https://dev.to/api/articles?username=manethpak`);
const articles: Article[] = await data.json();
export const prerender = true;
---

<style>
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl italic;
  }
  time {
    @apply text-sm text-neutral-300;
  }
  p {
    @apply text-neutral-300;
  }
  ul {
    @apply list-disc list-inside;
  }
</style>

<ExtraLayout
  title="Pak Maneth | Articles and Blogs"
  desc="Thoughts, tutorials, and insights about software development and technology"
>
  <section>
    <Grid className="auto-rows-auto">
      <Header
        heading="Articles and Blogs"
        subtitle="Thoughts, tutorials, and insights about software development and technology"
      />

      <div class="grid grid-cols-2 gap-8">
        {
          articles.map((article) => {
            return (
              <a href={"/blog/" + article.slug} class="min-h-full">
                <GridItem className="flex-col gap-2">
                  {article.cover_image && (
                    <Image
                      width={1000}
                      height={420}
                      src={article.cover_image}
                      alt={article.title}
                      class="object-contain object-center rounded-lg"
                    />
                  )}
                  <h2 class="text-xl font-semibold">{article.title}</h2>
                  <time class="text-neutral-300">
                    {formatDate(article.published_at)}
                  </time>
                  <p>{article.description}</p>
                  <p>{article.tag_list.map((tag) => "#" + tag).join(", ")}</p>
                  <span class="text-sm self-end">{`${article.reading_time_minutes} min read`}</span>
                </GridItem>
              </a>
            );
          })
        }
      </div>
    </Grid>
  </section>
</ExtraLayout>
