---
import Grid from "@/components/bento/Grid.astro";
import GridItem from "@/components/bento/Item.astro";
import Header from "@/components/util/Header.astro";
import Layout from "@/layouts/Layout.astro";
import { CERTS, ACHIEVEMENTS } from "@/constants";
---

<style>
  h2 {
    @apply text-xl font-semibold mb-4 font-serif;
  }
  h3 {
    @apply font-semibold;
  }

  time {
    @apply text-sm text-neutral-400 block mb-2;
  }

  .cert-item {
    @apply mb-2 flex items-start gap-2;
  }

  .timeline-item {
    @apply mb-8 relative pl-6 border-l border-neutral-200;
  }
</style>

<Layout
  title="Pak Maneth | Experience & Achievements"
  desc="A detailed overview of my professional journey, certifications, and achievements."
>
  <Grid className="auto-rows-auto">
    <Header
      heading="Professional Journey"
      subtitle="My work experience, certifications, and notable achievements."
    />

    <GridItem className="p-6 flex-col">
      <section>
        <h2>Education</h2>
        <div>
          <h3>Bachelor of Engineering in Software Engineering</h3>
          <h4>Kirirom Institute of Technology</h4>
          <time>2019 - 2023</time>
          <p>
            Studied software engineering, focusing on design, build and
            maintaining software, computer systems, and development
            methodologies. Specializing in areas like web/app development and
            artificial intelligence.
          </p>
        </div>
      </section>
    </GridItem>

    <GridItem className="p-6 flex-col">
      <section class="section">
        <h2>Work Experience</h2>

        <div class="timeline-item">
          <h3>Chief Technology Officer</h3>
          <h4>dreamsLAB</h4>
          <time>Apr 2024 - Present</time>
          <p>
            Leading technical strategy and overseeing all technology operations.
          </p>

          <h3 class="mt-4">Lead Software Engineer</h3>
          <h4>dreamsLAB</h4>
          <time>Feb 2023 - Apr 2024</time>
          <p>Led development teams and architected scalable solutions.</p>
        </div>

        <div class="timeline-item">
          <h3>Lead Frontend Developer</h3>
          <h4>GOGO Delivery & Co.</h4>
          <time>Jan 2022 - Nov 2022</time>
          <p>
            Developed and maintained user interfaces for delivery applications.
          </p>
        </div>

        <div class="timeline-item">
          <h3>Intern Web Developer</h3>
          <h4>MangoByte</h4>
          <time>Jul 2021 - Oct 2021</time>
          <p>
            Developed user interfaces for a virtual meeting web application.
          </p>
        </div>
      </section>

      <section class="section">
        <h2>Relevant Experience</h2>

        <div class="timeline-item">
          <h4>Co-Founded <span class="font-bold">Slecret</span></h4>
          <h5>Self-Employed</h5>
          <time>Oct 2021 - Nov 2022</time>
          <p>
            Co-founded a content publishing platform allowing users to create
            and share their content focusing on Khmer language.
          </p>
        </div>
      </section>
    </GridItem>

    <GridItem className="p-6 flex-col">
      <section class="section">
        <h2>Certifications</h2>

        {
          CERTS.map(({ name, url, issuedBy, issuedAt }) => (
            <div class="cert-item">
              <div>
                <a href={url}>
                  <h3>{name}</h3>
                </a>
                <p class="text-neutral-500">{issuedBy}</p>
                <time>{issuedAt}</time>
              </div>
            </div>
          ))
        }
      </section>
    </GridItem>

    <GridItem className="p-6 flex-col">
      <section class="section">
        <h2>Achievements</h2>

        {
          ACHIEVEMENTS.map(({ name, organizedBy, issuedAt }) => (
            <div class="cert-item">
              <div>
                <h3>{name}</h3>
                <h4>{organizedBy}</h4>
                <time>{issuedAt}</time>
              </div>
            </div>
          ))
        }
      </section>
    </GridItem>
  </Grid>
</Layout>
