---
import type Props from "./props.type";
import { CreditSection } from "../components/section";
import SpeedInsights from "@vercel/speed-insights/astro";
import ClientRouter from "astro/components/ClientRouter.astro";
import "./global.css";

const {
  title = "Maneth Pak | Software Engineer",
  desc = "Software engineer by day, eternal explorer by nature.",
  image = "/og-image.png",
  meta,
} = Astro.props;

const url = import.meta.env.PUBLIC_URL || Astro.url;

const ogImageUrl = image.startsWith("http")
  ? image
  : new URL(image, url).toString();
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="/icon-light.png"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/png"
      href="/icon-dark.png"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:alt" content={title} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:image" content={ogImageUrl} />

    <!-- Custom meta tags for the website -->
    {
      meta &&
        Object.entries(meta).map(([key, value]) => (
          <meta property={key} content={value} />
        ))
    }

    <!-- essential meta tags -->
    <meta
      name="keywords"
      content="Maneth Pak, Software Engineer, Khmer, Cambodia"
    />
    <meta name="author" content="Maneth Pak" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="notranslate" />

    <!-- Load fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>

    <script is:inline>
      const theme = localStorage.getItem("theme");
      const prefersDark = window.matchMedia(
        "(prefers-color-scheme: dark)",
      ).matches;
      if (theme === "dark" || (!theme && prefersDark)) {
        document.documentElement.classList.add("dark");
      }
    </script>

    {
      import.meta.env.PROD && (
        <>
          <SpeedInsights />
        </>
      )
    }
  </head>

  <body class="bg-primary-bg text-primary-text transition-colors">
    <ClientRouter />
    <main class="p-4 md:p-8 max-w-3xl mx-auto" transition:animate="slide">
      <slot />

      <CreditSection />
    </main>
  </body>
</html>
