---
import { ViewTransitions } from "astro:transitions";
import type Props from "./props.type";

const { title, desc, image, meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpeg" href="/icon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={image} />
    <!-- Custom meta tags for the website -->
    {
      meta &&
        Object.entries(meta).map(([key, value]) => (
          <meta property={key} content={value} />
        ))
    }
    <!-- import the umami script on production only -->
    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://cloud.umami.is/script.js"
          data-website-id="913b3aab-87a5-40c1-ad9d-0176a3cf1e72"
        />
      )
    }
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-neutral-900 bg-grid-white/10 text-neutral-300">
    <div
      class="fixed pointer-events-none bottom-0 inset-0 flex items-center justify-center bg-black [mask-image:linear-gradient(transparent,#fff)] -z-10"
    >
    </div>
    <main class="p-10 max-w-6xl mx-auto">
      <slot />
    </main>
  </body>
</html>
